<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>2003547-release-AmXxfp</id>
            <username>5ec3a40e2430b0ce44e8ef73</username>
            <password>${password}</password>
        </server>
        <server>
            <id>2003547-snapshot-xxdKnz</id>
            <username>5ec3a40e2430b0ce44e8ef73</username>
            <password>${password}</password>
        </server>
        <server>
            <id>fucksky-yuanmai-repo</id>
            <username>cnb</username>
            <password>aReF3w7ZsUf147eTaFJ05KHmSyI</password>
        </server>
    </servers>
</settings>
